




header{
    background-color: grey;
    width:100%;
    position: fixed;
    padding: top -10px;
}



header > img{
     position: relative; 
     top:10px;
    left:20px; 
} 

header > nav {
    text-align: center;
    position:static;
    /* position: relative; */
    /* left:35px;
    bottom:35px; */
}

header > nav, a {
    text-decoration: none;
    color: #000500;
    padding-bottom:30px;
    padding-left: 20px;
    padding-right:30px;
} 

/* next up, we have got to style the main container and then go down from there!! */
.main{
    padding:30px;
    text-align: center;
    
   
    
}

.sub-images {
     margin-left: -10px;
    margin-right: 40px; 
    padding-left:50px;
    padding-right:30px;
    display:flex;
    justify-content: space-between;
    
    
}


#bottom-heading  {
display:flex;
align-items: flex-start;
flex-direction: row;
margin-left: 30px;

}

#bottom-heading > img{
    margin-top: 30px;
}

#bottom-heading > p {
    width: 1000px;
    width:600px; 
    overflow-y:scroll; 
    position:relative;
    height: 300px;
    top:20px;
    left: 20px;
}


footer {
    background-color: rgb(129, 105, 105);
    height: 100%;
    width: 100%;
    padding-top:5px;
    padding-bottom:20px;
    margin-top:40px;
}


.call-button > button{
    position:sticky;
    left: 40%;
    bottom:-80%;
    background-color:cornflowerblue;
    color: black;
    border-radius: 3px;
    border: solid 1px;
    width: 20%;
    padding: 10px 24px;
    margin-bottom: 50px;
    transition: 0.4s;
    
}

.call-button > button:hover{
    background-color: darkslateblue;
}